certifi==2026.4.22
cftime==1.6.5
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
fonttools==4.62.1
idna==3.13
kiwisolver==1.5.0
matchms
matplotlib==3.10.9
netCDF4==1.7.2
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pillow==12.2.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
rdkit==2026.3.1
requests==2.33.1
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
torch
torch_geometric
tzdata==2026.2
urllib3==2.6.3
wheel==0.47.0
